<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404810107236-v5njbb2k2kfgphqn7fnq07o1mmlsrktk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404810107236-v5njbb2k2kfgphqn7fnq07o1mmlsrktk</string>
	<key>API_KEY</key>
	<string>AIzaSyD9ssy3TEcy0DUQcI2mEfISbxblQJj489U</string>
	<key>GCM_SENDER_ID</key>
	<string>404810107236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nori.FirebaseClass8</string>
	<key>PROJECT_ID</key>
	<string>fir-class8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-class8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404810107236:ios:3d7b01d2bbe09c1e649271</string>
	<key>DATABASE_URL</key>
	<string>https://fir-class8.firebaseio.com</string>
</dict>
</plist>